*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
*.iml
.idea
complete/out/artifacts/complete_main/complete_main.jar
complete/out/artifacts/complete_main/complete_main.jnlp
complete/out/production/classes/pcstatus/Controller.class
complete/out/production/classes/pcstatus/Controller.class
complete/out/production/classes/pcstatus/ServerBatteryMain$ProgressForm.class
complete/out/production/resources/sample.fxml
complete/src/main/java/META-INF/MANIFEST.MF
